#Opciones para reescritura de la configuracion del servidor con htaccess
Options +FollowSymLinks
RewriteEngine on

#Evitar que se puedan listar la estructura de la pagina
Options -Indexes

#Definir una pagina de index
DirectoryIndex views/inicio/inicio.php

#Rutas para las vistas
RewriteRule ^inicio$ views/inicio/inicio.php
RewriteRule ^inicioSesion$ views/inicioSesion/inicioSesion.php
RewriteRule ^registro/usuario$ views/registro/registroUsuario.php
RewriteRule ^registro/empresa$ views/registro/registroEmpresa.php
RewriteRule ^curriculum$ views/curriculum/curriculum.php
RewriteRule ^informacionPersonal/editar$ views/curriculum/informacionPersonal.php
RewriteRule ^experienciaLaboral/agregar$ views/curriculum/experenciaLaboral/experienciaLaboralAgregar.php
RewriteRule ^experienciaLaboral/editar$ views/curriculum/experenciaLaboral/experienciaLaboralEditar.php
RewriteRule ^formacionAcademica/agregar$ views/curriculum/formacionAcademica/formacionAcademicaAgregar.php
RewriteRule ^formacionAcademica/editar$ views/curriculum/formacionAcademica/formacionAcademicaEditar.php
RewriteRule ^habilidad/agregar$ views/curriculum/habilidad/habilidadAgregar.php
RewriteRule ^idioma/agregar$ views/curriculum/idioma/idiomaAgregar.php
RewriteRule ^foro$ views/foro/foro.php
RewriteRule ^trabajo/publicarTrabajo$ views/trabajo/empresa/publicarTrabajo.php
RewriteRule ^trabajo/verPostulantes$ views/trabajo/empresa/verPostulantes.php
RewriteRule ^trabajo/verPerfilPostulante$ views/trabajo/empresa/verPerfilPostulante.php
RewriteRule ^empresa/verDetallesOfertaLaboral$ views/trabajo/empresa/verOfertaLaboral.php
RewriteRule ^empresa/perfil$ views/trabajo/empresa/empresa.php
RewriteRule ^administrador/certificados$ views/administrador/validarCertificados.php
#Rutas para los controladores
RewriteRule ^controladorInicio$ controller/InicioController.php
RewriteRule ^controladorInicioSesion$ controller/InicioSesionController.php
RewriteRule ^controladorRegistro$ controller/RegistroController.php
RewriteRule ^controladorCurriculum$ controller/CurriculumController.php
RewriteRule ^controladorForo$ controller/ForoController.php
RewriteRule ^controladorTrabajo$ controller/TrabajoController.php
RewriteRule ^controladorAdministrador$ controller/AdministradorController.php

#Bloqueo a archivos
<files BDConfiguracion.php>
order allow,deny
deny from all
</files>